/* eslint-disable */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);

:root {
  --text-color-1: #f0f9cf;
  --text-color-2: #23832b;
  --text-color-3: #9cb445;
  --bg-color: #f0f9cf;
  --main-color: #23abd4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.main_img {
  margin-top: 13vh;
  width: 100vw;
  height: auto;
}

.tagline h2 {
  font-size: 3.5rem;
  text-align: center;
  color: var(--text-color-2);
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Courgette", cursive;
  margin-top: -170px;
  margin-bottom: 40px;
}

ul {
  list-style: none;
}

nav .nav-items {
  background-color: var(--bg-color);
  display: flex;
  position: fixed;
  height: 13vh;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.item a {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 0 0.75rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  opacity: 0.9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--text-color-2), var(--text-color-2) 50%, var(--text-color-3) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.3s ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 7px;
  border-radius: 5px;
  bottom: -10px;
  left: 0;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  background: var(--text-color-2);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--text-color-2);
  background-position: 0%;
}

.nav-link:hover::after {
  width: 100%;
  opacity: 1;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #c8e073;
  padding: 20px;
}

.footer div a {
  color: #2a7703;
  text-decoration: none;
  transition: 0.2s;
}

.footer a:hover {
  cursor: pointer;
  font-size: 1.5rem;
  transform: scale(1.2, 1.2);
}

.footerContact {
  position: absolute;
  bottom: 0;
}

.card_container .recipies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: auto;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  border: 1px solid #fff;
  border-radius: 25px;
  background: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0 6px 12px -2px, rgb(0 0 0 / 30%) 0 3px 7px -3px;
}

.card-img img {
  width: 100%;
  border-radius: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
}

.card-info h2 {
  font-family: "Patrick Hand", cursive;
  color: var(--text-color-3);
  font-size: 2rem;
  letter-spacing: 2px;
}

.card-info ul {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

.commentBtn {
  padding: 5% 15%;
  font-family: "Patrick Hand", cursive;
  font-size: 1.3rem;
  color: var(--text-color-1);
  background-color: var(--text-color-2);
  border-radius: 15px;
  border: 1px solid var(--text-color-2);
  cursor: pointer;
  transition: 0.3s;
}

.commentBtn:hover {
  background-color: #236128;
}

.like-btn {
  background: none;
  border: none;
  color: var(--text-color-3);
  font-size: 1.7rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.like-btn .fa-heart {
  margin-right: 0.75rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid var(--text-color-2);
  border-radius: 20px;
  padding: 35px;
  position: absolute;
  bottom: 25%;
  left: 25%;
  right: 25%;
}

.contactHeading1 {
  color: var(--text-color-2);
}

.contactHeading2 {
  width: 70%;
  color: var(--text-color-2);
  font-size: 25px;
}

.contactDetails {
  list-style-type: none;
  color: var(--text-color-2);
}

.contactDetails li {
  font-size: 1.5rem;
  color: var(--text-color-2);
}

.contact-icon {
  font-size: 1.5rem;
  color: var(--text-color-2);
  padding: 0 0 0 5px;
}

.fa-brands,
.fab {
  font-weight: 400;
}

.hidden {
  display: none;
}
